@import '../../index';

/**** HEADERS ****/
.section-header {
  $height: 48px;
  $background: $blue2;

  position: relative;
  height: $height;

  h2 {
    background-color: $background;
    position: relative;
    color: $dark1;
    height: 100%;
    line-height: $height;
    display: inline-block;
    font-size: 2em;
    letter-spacing: 2px;
    font-family: 'Space Mono', monospace;
    padding: 0 32px;
  }
}