@import '../../index';

/**** GENERAL ****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  background-color: $dark1;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}

/**** NAV ****/
.main-nav {
  display: grid;
  grid-template-columns: [start] auto [header-start] 400px [header-slant] 48px [header-mid] 752px [header-end] auto [end];
  height: 64px;
  position: fixed;
  padding-top: 16px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  background: rgba($dark1, 0.9);

  &--transparent {
    background: transparent;
  }
}
.main-nav__title {
  border-bottom: 1px solid $light3;
  padding-bottom: 16px;
  position: relative;
  padding-right: 8px;
  grid-column: start / header-slant;
  font-family: 'Space Mono', sans-serif;
}
.main-nav__title a {
  text-transform: uppercase;
  display: inline-block;
  background-color: $light3;
  color: $dark1;
  line-height: 32px;
  padding: 0 16px;
  height: 32px;
  width: 100%;
  text-align: right;
  text-decoration: none;
}
.main-nav__title span {
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
}
.main-nav__title .separator {
  color: $dark1;
  position: relative;
  top: -2px;
}
.main-nav__edge {
  position: absolute;
  right: -24px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 32px 0 0;
  border-left-width: 100%;
  border-color: $light3 transparent transparent transparent;
}
.main-nav__slant {
  grid-column: header-slant / header-mid;
  width: 48px;
  height: 1px;
  transform: rotate(-45deg) scaleX(1.4);
  transform-origin: bottom left;
  position: relative;
  background: $light3;
  top: 48px;
  right: -1px;
}
.main-nav__links--desktop {
  grid-column: header-mid / end;
  display: grid;
  grid-template-columns: [nav-start] 752px [nav-end] auto [end];
  border-top: 1px solid $light3;
}
.main-nav__links {
  grid-column: nav-start / nav-end;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  font-family: 'Space Mono', monospace;
}
.main-nav__links a {
  display: inline-flex;
  height: 100%;
  align-items: center;
  padding: 0 24px;
  color: $light3;
  text-decoration: none;
}
.main-nav__links li {
  padding: 0 6px;
  font-size: 1.3em;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  transition: color 0.2s;
}
.main-nav__links a:hover li {
  color: $dark1;
}
.main-nav__links li:before {
  content: '';
  width: 100%;
  height: 0;
  background-color: $yellow;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1; 
  transition: height 0.2s; 
}
.main-nav__links a:hover li:before {
  height: 100%;
}
.main-nav__links .index {
  color: $yellow;
  margin-right: 12px;
  font-size: 0.8em;
  transition: color 0.2s;
}
.main-nav__links a:hover .index {
  color: $dark4;
}
.main-nav__links--mobile {
  grid-column: header-end / end;
  display: none;
  border-top: 1px solid $light3;

  .main-nav__links--menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-right: 8px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .main-nav__links--menu img {
    height: 24px;
    width: 24px;
  }

  .main-nav__links {
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    top: 72px;
    right: -192px;
    z-index: 10;
    transition: all 0.2s;
  }

  .main-nav__links.open {
    right: 0;
    transition: all 0.2s;
  }

  .main-nav__links--overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 9;
    background: rgba(0, 0, 0, 0.6);
  }

  .main-nav__links li {
    width: 144px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 8px 0;
    color: $dark1;
  }

  .main-nav__links .index {
    position: absolute;
    left: -16px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline-flex;
    align-items: center;
    color: $dark4;
  }

  .main-nav__links li:before {
    content: '';
    width: 8px;
    height: 100%;
    background-color: $yellow;
    position: absolute;
    right: -24px;
    top: 0;
    left: auto;
    bottom: 0;
    z-index: -1; 
    transition: width 0.2s; 
  }

  .main-nav__links a:hover li:before {
    width: calc(100% + 48px);
  }

  .main-nav__links li:after {
    content: '';
    width: calc(100% + 48px);
    height: 100%;
    background-color: $light3;
    position: absolute;
    right: -24px;
    top: 0;
    left: auto;
    bottom: 0;
    z-index: -2;
  }
}

@media all and (max-width: 1200px) {
  .main-nav {
    grid-template-columns: [start] auto [header-slant] 48px [header-end] 96px [end];
  }
  .main-nav__links--desktop {
    display: none;
  }
  .main-nav__links--mobile {
    display: block;
  }
  .main-nav__slant {
    grid-column: header-slant / header-end;
  }
  .main-nav__title a {
    text-align: left;
  }
  .home-header__contents {
    align-items: center;
  }
}

@media all and (max-width: 600px) {
  .main-nav__title span {
    display: none;
  }
}

/**** SECTIONS ****/
.section {
  max-width: 1200px;
  width: 100%;
  align-self: center;
  margin: 64px auto;
}