.title {
  font-weight: bold;
  color: var(--main-light);
  text-transform: uppercase;
  background-color: var(--title-background);
  padding: 0.1em 1.2em;
  margin: 1em 0;
}

.main_title {
  font-size: 1.2em;
}

.secondary_title {
  font-size: 1em;
  width: 100%;
  text-align: left;
  position: relative;
}

.subtitle {
  font-size: 0.75em;
  font-weight: 100;
  color: var(--main-light);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1.2em;
  display: inline-flex;
  align-items: center;
}