/**** GENERAL ****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 62.5%;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}

/**** APP ****/
.app {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

/**** NAV ****/
.main-nav {
  display: grid;
  grid-template-columns: [start] auto [header-start] 400px [header-slant] 48px [header-mid] 752px [header-end] auto [end];
  height: 48px;
  position: fixed;
  top: 16px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.main-nav__title {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 16px;
  position: relative;
  padding-right: 8px;
  grid-column: start / header-slant;
}
.main-nav__title a {
  text-transform: uppercase;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.75);
  color: #1e282e;
  line-height: 32px;
  padding: 0 16px;
  height: 32px;
  width: 100%;
  text-align: right;
  text-decoration: none;
}
.main-nav__title span {
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
}
.main-nav__edge {
  position: absolute;
  right: -24px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 32px 0 0;
  border-left-width: 100%;
  border-color: rgba(255, 255, 255, 0.75) transparent transparent transparent;
}
.main-nav__slant {
  grid-column: header-slant / header-mid;
  width: 48px;
  height: 1px;
  transform: rotate(-45deg) scaleX(1.4);
  transform-origin: bottom left;
  position: relative;
  background: #ffffff;
  top: 48px;
  right: -1px;
}
.main-nav__links--container {
  grid-column: header-mid / end;
  display: grid;
  grid-template-columns: [nav-start] 752px [nav-end] auto [end];
  border-top: 1px solid #ffffff;
}
.main-nav__links {
  grid-column: nav-start / nav-end;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  font-family: 'Space Mono', monospace;
}
.main-nav__links li {
  padding: 0 6px;
  margin: 0 24px;
  font-size: 1.3em;
  cursor: pointer;
  position: relative;
}
.main-nav__links li:hover {
  color: #1e282e;
  background-color: #63859b;
}
.main-nav__links li:hover:before {
  content: '';
  width: 16px;
  height: 100%;
  background-color: rgb(120, 184, 226);
  position: absolute;
  left: -20px;
  top: 0;
  opacity: 0.8;
  animation: flash 0.5s ease-in-out infinite alternate;
}
@keyframes flash {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
