/**** HOME ****/
.home-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.home-header {
  height: 100vh;
  align-self: stretch;
  background-color: #1E282E;
  color: #FFFFFF;
}