.graphs {
  margin: 1em 0;
}

.graphs_title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: left;
  color: var(--main-light);
  text-transform: uppercase;
}

.bar_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  max-width: 100%;
  height: 240px;
}

.bar canvas {
  width: 100%;
  height: 100%;
}

.labels_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  max-width: 100%;
  margin-top: 1em;
}

.bar_label {
  background-color: var(--main-light);
  color: var(--background);
}

.radar_container {
  width: 100%;
  height: 360px;
}

.radar_container canvas {
  width: 100%;
  height: 100%;
}

.squares {
  width: 100%;
  margin-top: 1em;
}

.squares_container {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  width: 100%;
  gap: 4px;
  border-style: dotted;
  border-color: var(--main-light);
  border-width: 2px 0;
  padding: 0.75em 0;
}

.square {
  height: 4px;
  background-color: var(--main-light);
}

.squares_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  text-transform: uppercase;
}

.squares_name {
  font-size: 0.9rem;
}

.squares_status {
  font-size: 0.8rem;
  color: var(--main-light);
}