.carousel_title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.carousel {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.carousel_images {
  display: flex;
  overflow-x: auto;
  position: relative;
  gap: 1rem;
  scrollbar-width: none;
  padding: 0 calc(50% - 79px);
}

.image_container {
  flex-shrink: 0;
  cursor: pointer;
}

.image_container img {
  width: 150px;
  height: auto;
  display: block;
  border: 4px solid transparent;
  border-radius: 8px;
  transition: border-color 0.2s;
}

.image_container.selected img {
  border-color: var(--main);
}

.carousel_images::-webkit-scrollbar {
  display: none;
}

.selected_image_container {
  width: 100%;
  height: calc(600px + 2rem);
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected_image {
  max-height: 600px;
  max-width: 100%;
  object-fit: contain;
  height: auto;
  display: block;
  border: 10px solid var(--background-light);
  outline: 1px solid var(--grey);
}

.carousel_arrow_left, .carousel_arrow_right {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main);
  color: var(--background);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 100;
}

.carousel_arrow_left {
  left: 1rem;
}

.carousel_arrow_right {
  right: 1rem;
}

.hidden {
  visibility: hidden;
}

@media (max-width: 992px) {
  .image_container img {
    width: 100px;
  }
  .selected_image_container {
    height: calc(400px + 2rem);
    margin-bottom: 1rem;
  }
  .selected_image {
    max-height: 400px;
  }
}