@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;600&display=swap');

:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #131517;
  --black-soft: #222222;
  --black-mute: #282828;

  --grey: #2d3639;

  --main: #02A6BC;
  --main-light: #26e4fd;
  --main-faded: #455254;

  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  --text-light-1: var(--main);
  --text-light-2: rgba(60, 60, 60, 0.66);
  --text-dark-1: var(--main);
  --text-dark-2: var(--main-faded);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);

    --color-border: var(--divider-dark-2);
    --color-border-hover: var(--divider-dark-1);

    --color-heading: var(--text-dark-1);
    --color-text: var(--text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family:
    'Dosis',
    Roboto,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}

#app {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

main {
  margin: 16px;
  border: 12px solid transparent;
  border-image: url(../assets/border-image.png) 32;
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
  background-color: var(--grey);
  display: inline-block;
  padding: 8px 16px;
}

.header__logo {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--grey);
}
.header__logo img {
  height: 64px;
}