.page {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: 5rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

@media (max-width: 992px) {
  .page {
    padding: 0 0.5rem;
    gap: 2rem;
  }
  .main {
    gap: 2rem;
  }
}
