.container {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
}

.main {
  width: 100%;
  max-width: 1024px;
  flex-shrink: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sidePanels {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

.sidePanels::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 35, 39, 0.8);
}

.sidePanels:first-of-type {
  justify-content: flex-end;
}

.title {
  font-size: 6rem;
  margin-bottom: 1rem;
}