/**** COLORS ****/
$dark1: #2E3440;
$dark2: #3B4252;
$dark3: #434C5E;
$dark4: #4C566A;

$light1: #D8DEE9;
$light2: #E5E9F0;
$light3: #ECEFF4;
$light4: #FFFFFF;

$blue1: #8FBCBB;
$blue2: #88C0D0;
$blue3: #81A1C1;
$blue4: #5E81AC;

$red: #BF616A;
$orange: #D08770;
$yellow: #EBCB8B;
$green: #A3BE8C;
$violet: #B48EAD;