@import '../../index';

/**** HOME ****/
.home-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.home-header {
  color: $light3;
  display: flex;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(rgba(10,10,10,.2),rgba(0,0,0,.35)), repeating-linear-gradient(0, transparent, transparent 2px, rgba(0, 0, 0, 0.4) 3px, rgba(0, 0, 0, 0.4) 3px);
  border-bottom: 1px solid $light3;
  position: relative;
}
.home-header__contents {
  width: 100%;
  max-width: 1200px;
  padding: 128px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
}
.home-header__name {
  padding-left: 64px;
  border-bottom: 2px solid $light3;
  position: relative;
}
.home-header__name:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 48px;
  height: 4px;
  background-color: $light3;
}
.home-header__name h1 {
  font-size: 10em;
  font-weight: 200;
  line-height: 1.1em;
  text-align: right;
}
.home-header__title {
  font-size: 1.2em;
  margin: 64px 0;
  border: 1px solid $dark4;
}
.home-header__title h3 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: 1px solid $dark4;
  padding: 16px 16px;
  font-size: 1.4em;
  letter-spacing: 0.5px;
  font-weight: lighter;
  position: relative;
}
.home-header__logo {
  display: inline-block;
  height: 32px;
  margin-right: 16px;
  filter: brightness(100);
}
.home-header__title p {
  padding: 12px 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $dark4;
}
.home-header__buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-bottom: 64px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.home-header__contact {
  border-radius: 0;
  color: $dark1;
  font-size: 1.5em;
  padding: 12px 48px;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.1s;
  display: flex;
  position: relative;
  align-items: center;
  border: 0;
  background-color: $light3;
}
.home-header__contact img {
  height: 16px;
  margin-right: 16px;
  filter: invert(0.9);
  position: relative;
  left: -16px;
  transition: all 0.2s;
}
.home-header__contact span {
  position: relative;
  text-transform: uppercase;
  left: -16px;
  transition: all 0.2s;
}
.home-header__contact:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 8px;
  transition: width 0.2s;
  background: $yellow;
}
.home-header__contact:hover:before {
  width: 100%;
}
.home-header__contact:hover {
  span {
    left: 0;
  }
  img {
    left: 0;
  }
}

.pipeline__canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media all and (max-width: 1200px) {
  .home-header__contents {
    align-items: center;
  }
  .home-header__buttons {
    position: static;
    padding: 0;
  }
}

@media all and (max-width: 600px) {
  .home-header {
    height: 100vh;
  }
  .home-header__name h1 {
    font-size: 6em;
  }
}